node_modules/

logs/
testlogs/
log_*.txt
*.out.txt
.nyc_output/

*.img

*.sublime-workspace

copterlogs/

source-map*

.balena/
.idea/
tools/staged-releases/.balena/
/copilot/test/nodejs/terrain/terrain_smoothed.log
/relay/dist

